body{
    background-color: #be9971;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  padding-top: 80px;
}

/* Texte à gauche, vidéo à droite sur desktop */
@media (min-width: 1024px) {
  .hero-section {
    flex-direction: row;
    align-items: center;
  }

  .hero-text {
    flex: 1; /* occupe la moitié gauche */
    padding-right: 40px;
  }

  .hero-video {
    flex: 1; /* occupe la moitié droite */
  }

  .hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
  }
}

/* Texte et boutons */
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #555;
}

.hero-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.cta-button {
  padding: 12px 24px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #000;
}

.secondary-button {
  padding: 12px 24px;
  background-color: #eee;
  color: #111;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #ddd;
}

/* Mobile : vidéo dessous */
.hero-video video {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 0px;
}




.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  
  margin: 20px;
}
.product-card {
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.product-info {
  flex-grow: 1;
}

.product-info h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
  color: #111;
}

.add-to-cart {
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #111;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.add-to-cart:hover {
  background: #000;
}

/* Wishlist */
.wishlist-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.wishlist-btn svg {
  color: #999;
}

.wishlist-btn.active svg {
  color: crimson;
}
